html
    height 100%
body
    height 100%
    margin 0
    padding 0
    #map_canvas
        height 100%
        width 100%
    canvas
        &.div
            background-color #aaaaaa
    #tweets
        padding 10px
        margin 5px
        border 3px solid #000
        border-radius 10px
        width 40vw
        height 10vh
        position absolute
        z-index 9999
        background-color rgba(255,255,255,0.6)
        font-family: Roboto,Arial,sans-serif;
        font-size: 13px;
        font-weight: 400;
        @media screen and (min-width: 320px)
            height 45vw
        @media screen and (min-width: 360px)
            height 40vw
        @media screen and (min-width: 480px)
            height 20vw
        @media screen and (min-width: 640px)
            height 15vw
        @media screen and (min-width: 768px)
            height 10vw
        @media screen and (min-width: 1024px)
            height 5vw
        @media screen and (min-width: 1280px)
            height 5vw
    #legend
        background #F2F2F2
        padding 10px
        margin 5px
        border 3px solid #000
        h3
            margin-top 0
            text-align center
        img
            vertical-align middle
        #div1
            border 1px #F2F2F2 solid
            overflow-y auto
            -webkit-overflow-scrolling touch
            width 40vw
            height 50vh
            @media screen and (min-width: 360px)
                width 30vw
            @media screen and (min-width: 480px)
                width 25vw
            @media screen and (min-width: 640px)
                width 20vw
            @media screen and (min-width: 768px)
                width 15vw
            @media screen and (min-width: 1024px)
                width 15vw
            @media screen and (min-width: 1280px)
                width 10vw
        img
            width 25px
            height 25px
        #strong_excitement
            color #DBC600
        #strong_happiness
            color #ECE12B
        #strong_serenity
            color #EFFC64
        #strong_alertness
            color #D85F00
        #strong_anticipation
            color #E58B1E
        #strong_interest
            color #EFB151
        #strong_anger
            color #CA0E37
        #strong_annoyance
            color #D80440
        #strong_nuisance
            color #E14856
        #strong_abhorrence
            color #700D93
        #strong_disgust
            color #944EAD
        #strong_pain
            color #B079C0
        #strong_boredom
            color #3C499A
        #strong_sadness
            color #6C81BC
        #strong_pensive
            color #9AA7D0
        #strong_amazed
            color #38649A
        #strong_surprised
            color #4B8FB3
        #strong_distracted
            color #83B7CB
        #strong_terrified
            color #107221
        #strong_fear
            color #1D9F38
        #strong_apprehension
            color #5BC15F
        #strong_admiration
            color #5AC000
        #strong_confident
            color #75D500
        #strong_acceptance
            color #A9E942
.displaypic
    vertical-align middle
    border-radius 50%
    border 3px solid black
    float left
