html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body #map_canvas {
  height: 100%;
  width: 100%;
}
body canvas.div {
  background-color: #aaa;
}
body #tweets {
  padding: 10px;
  margin: 5px;
  border: 3px solid #000;
  border-radius: 10px;
  width: 40vw;
  height: 10vh;
  position: absolute;
  z-index: 9999;
  background-color: rgba(255,255,255,0.6);
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
}
@media screen and (min-width: 320px) {
  body #tweets {
    height: 45vw;
  }
}
@media screen and (min-width: 360px) {
  body #tweets {
    height: 40vw;
  }
}
@media screen and (min-width: 480px) {
  body #tweets {
    height: 20vw;
  }
}
@media screen and (min-width: 640px) {
  body #tweets {
    height: 15vw;
  }
}
@media screen and (min-width: 768px) {
  body #tweets {
    height: 10vw;
  }
}
@media screen and (min-width: 1024px) {
  body #tweets {
    height: 5vw;
  }
}
@media screen and (min-width: 1280px) {
  body #tweets {
    height: 5vw;
  }
}
body #legend {
  background: #f2f2f2;
  padding: 10px;
  margin: 5px;
  border: 3px solid #000;
}
body #legend h3 {
  margin-top: 0;
  text-align: center;
}
body #legend img {
  vertical-align: middle;
}
body #legend #div1 {
  border: 1px #f2f2f2 solid;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 40vw;
  height: 50vh;
}
@media screen and (min-width: 360px) {
  body #legend #div1 {
    width: 30vw;
  }
}
@media screen and (min-width: 480px) {
  body #legend #div1 {
    width: 25vw;
  }
}
@media screen and (min-width: 640px) {
  body #legend #div1 {
    width: 20vw;
  }
}
@media screen and (min-width: 768px) {
  body #legend #div1 {
    width: 15vw;
  }
}
@media screen and (min-width: 1024px) {
  body #legend #div1 {
    width: 10vw;
  }
}
@media screen and (min-width: 1280px) {
  body #legend #div1 {
    width: 10vw;
  }
}
body #legend img {
  width: 25px;
  height: 25px;
}
body #legend #strong_excitement {
  color: #dbc600;
}
body #legend #strong_happiness {
  color: #ece12b;
}
body #legend #strong_serenity {
  color: #effc64;
}
body #legend #strong_alertness {
  color: #d85f00;
}
body #legend #strong_anticipation {
  color: #e58b1e;
}
body #legend #strong_interest {
  color: #efb151;
}
body #legend #strong_anger {
  color: #ca0e37;
}
body #legend #strong_annoyance {
  color: #d80440;
}
body #legend #strong_nuisance {
  color: #e14856;
}
body #legend #strong_abhorrence {
  color: #700d93;
}
body #legend #strong_disgust {
  color: #944ead;
}
body #legend #strong_pain {
  color: #b079c0;
}
body #legend #strong_boredom {
  color: #3c499a;
}
body #legend #strong_sadness {
  color: #6c81bc;
}
body #legend #strong_pensive {
  color: #9aa7d0;
}
body #legend #strong_amazed {
  color: #38649a;
}
body #legend #strong_surprised {
  color: #4b8fb3;
}
body #legend #strong_distracted {
  color: #83b7cb;
}
body #legend #strong_terrified {
  color: #107221;
}
body #legend #strong_fear {
  color: #1d9f38;
}
body #legend #strong_apprehension {
  color: #5bc15f;
}
body #legend #strong_admiration {
  color: #5ac000;
}
body #legend #strong_confident {
  color: #75d500;
}
body #legend #strong_acceptance {
  color: #a9e942;
}
.displaypic {
  vertical-align: middle;
  border-radius: 50%;
  border: 3px solid #000;
  float: left;
}
