extends layout

block content
  #tweets
  #map_canvas
  #legend
    h3 Legend
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/map_init.js")
    script(src="/javascripts/io-connection.js")
