doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA2FGDrZ7ouh5PeNI3jg69uzaMHGRtYN9M&sensor=true")
    script(src="/javascripts/map_init.js")
  body
    block content