doctype html
html
  head
    title= title
    meta(name="viewport" content="initial-scale=1.0, user-scalable=no")
    meta(charset="UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2FGDrZ7ouh5PeNI3jg69uzaMHGRtYN9M&sensor=true")
    script(src="/javascripts/bower_components/jquery/dist/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/map_init.js")
    script(src="/javascripts/io-connection.js")
  body
    block content
